<!DOCTYPE html>
<html>

<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<meta charset="utf-8" />
<title>Prova</title>

<body>
    
<p id="demo"></p>

<script>
$(document).ready(function(){
    $('input[type=button]').click(function(){
        var id = $(this).attr("id");
        var keyword, search;
        switch (id) {
            case 'autBtn': keyword = $('input[name=author]').val();
                            search = 'author';
            break;
            case 'titBtn': keyword = $('input[name=title]').val();
                            search = 'title'
        }
        obj = { "keyword":keyword, "search":search };
        dbParam = JSON.stringify(obj);
        $.ajax({
            type : "GET",
            url : "../controller/Mediator.php?x=" + dbParam,
            dataType : "json",
            success : function (res) {
                var txt = "";
                $.each( res, function( i, value ) {
                    txt += value.title + ", " + value.author + ", " +
                            value.price + ", " + value.image + ", " +
                            value.link + "<br>";
                });
                $("#demo").html(txt);
            },
            error : function (richiesta,stato,errori) {
                alert("E' evvenuto un errore. Lo stato della chiamata: "+stato);
            }
        });
    });
});
</script>

<form name="authorForm">
    Digita il nome di un autore <input type="text" name="author"><br>
    <input id="autBtn" type="button" value="Invia">
</form>

<form name="titleForm">
    Digita il titolo di un libro <input type="text" name="title"><br>
    <input id="titBtn" type="button" value="Invia">
</form>

</body>

</html>
